:root {
  font-size: 62.5%;
}
html {
  height: 300vh;
  background-color: black;
}
#bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  z-index: -1;
  pointer-events: none;
}
